<header class="site-header">
  <div class="container">
    <h1 class="site-title">
      <a href="/books">📚 My Books Library 📚</a>
    </h1>

    <nav class="nav">
      <a href="/books">Home</a>
      <a href="/books/new">Add Book</a>
    </nav>
  </div>
</header>
